.certificates {
   // min-height: 840px;
    padding: 65px 10px 0 10px;
    &__wrapper {
        padding-top: 65px;
        display: grid;
        grid-template-columns: repeat(2, 450px);
        grid-template-rows: repeat(2, 300px);
        column-gap: 88px;
        row-gap: 65px;
        justify-content: center;
        align-items: center;
    }
}

