@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }

    .search {
        &__wrapper {
            padding: 15px 10px;
        }
    }

    .certificates {
        &__certificates {
            padding: 0 10px;
            column-gap: 10px;
            row-gap: 10px;
        }
    }

    .work {
        &__wrapper {
            grid-template: repeat(2,300px)/repeat(3,300px)
        }
    }
 
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
    }
    .certificates {
        &__wrapper {
            gap: 27px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .work {
        &__wrapper{
            grid-template: repeat(2,250px)/repeat(3,250px)
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 760px;
    }

    .header {
        height: 100px;
    }

    h2 {
        font-size: 40px;
    }
    .search {
        &__wrapper {
            grid-template-columns: 657px;
        }
        &__descr {
            width: 670px;
        }
        &__photo {
            display: block;
            margin: 40px auto 0;
        }
    }

    .certificates {
        &__wrapper {
            grid-template-columns: repeat(2, 350px);
            grid-template-rows: repeat(2, 241px);
            gap: 10px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .work {
        &__wrapper {
            grid-template: repeat(3,350px)/repeat(2,350px);
            gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 310px;
        h1 {
            font-size: 60px;
            margin-top: 60px;
        }
        h2 {
            margin: 0;
        }
        .header {
            h1 {
                font-size: 60px;
            }
          
            &__contact {
                margin: 0 auto;
            }
        }
        .search {
            &__wrapper {
                grid-template-columns: 480px;
                padding: 0 5px;
            }
            &__descr {
                display: block;
                margin: auto;
                width: 310px;
                font-size: 16px;
            }
        }
    }
    .certificates {
       &__wrapper {
        display: none;
       }
    }

    .carusel {
        display: block;
        &__inner {
            img {
                width: 310px;
            }
        }

    }
    .work {
        padding: 0;
        &__wrapper {
          display: none;
        }
        &__slick {
            display: block;
            margin: 50px auto;
            width: 100%;
        }
    }
    .footer {
        height: 80px;
    }
    .button {
        width: 250px;
        font-size: 16px;
        padding: 0 10px;
        text-decoration: none;
        margin: auto;
    }
}
/*
@media (max-width: 576px) {
    .container {
        min-width: 300px;
    }

  
    .header {
        h1 {
            font-size: 60px;
        }
        &__contact {
            width: 100%;
            margin: 0 auto;
            font-size: 12px;
        }
    }
  
}
*/